body{
    background-color: #f2f2f2;
}

#top{
    margin-left: 660px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: light;
}

#first-link:hover{
    color: lightblue;
}

#nav-l:hover{
    border-radius: 10px;
    background-color: whitesmoke;
}
#drop:hover .dropdown-menu{
    display: block;
    border-radius: 10px;
    background-color: whitesmoke;
}

#carouselExampleAutoplaying{
    height: 300px;
    text-align: center;
}

#slider{
    height: 400px;
    text-align: center;
}

#slid{
    margin-top: -300px;
}

#slid{
    background-blend-mode: color;
    background-image: linear-gradient(top, black);
}

#search-div{
    margin-top: 100px;
    background-color: #aaaa;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 15px;
}


#line{
    width: 1px;
    height: 35px;
    background-color: #FFFFFF;
}


#card-img1{
    border-radius: 8px;
    width: 200px;
    height: 250px;
    color: white;
    padding-top: 150px;
    transition: 0.4s;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('./image/girl.png');
}
#card-img1:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}
#card-img2:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}

#card-img3:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}

#card-img4:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}

#card-img5:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}

#card-img6:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}
#card-img2{
    border-radius: 8px;
    transition: 0.4s;
    width: 200px;
    height: 250px;
    color: white;
    padding-top: 130px;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('./image/boy-2.png');
}
#card-img3{
    border-radius: 8px;
    transition: 0.4s;
    width: 200px;
    height: 250px;
    color: white;
    padding-top: 180px;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('./image/boy-black-Figure.png');
}
#card-img4{
    border-radius: 8px;
    width: 200px;
    transition: 0.4s;
    height: 250px;
    color: white;
    padding-top: 170px;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('./image/girl2.png');
}
#card-img5{
    border-radius: 8px;
    width: 200px;
    height: 250px;
    transition: 0.4s;
    color: white;
    padding-top: 130px;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('./image/girl3.png');
}
#card-img6{
    border-radius: 8px;
    width: 200px;
    height: 250px;
    transition: 0.4s;
    color: white;
    padding-top: 180px;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('./image/tlevent.png');
}

#link-clg{
    text-decoration: none;
    color: #e70072;
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
    transition: 0.5S;
}
#link-clg:hover{
    color: lightgray;
}

#cards{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #67AD2F;
    transition: 0.4s;
}
#cards2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E83666;
}
#card3{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1F8299;
}
#card-text{
    transition: 0.4s;
}
#card-text:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}


#simple{
    justify-content: center;
    text-align: center;
    transition: 0.4s;   
}
#simple:hover{
    box-shadow: 2px 2px 7px gray ;
    transform: scale(1.02);
}

#hr1{
    margin-top: 100px;
}
#bg-event{
    height: 550px;  
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./image/event.png');
}

#list{
    padding: 13px 80px;
    border: none;
    border-radius:25px;
    font-size: 18px;
    background-color: #ee62ad;
    font-weight: 700;
    margin-right: -30px;
}

#slec{
    width: 800px;
    border-radius: 10px;
}

#month{
    padding: 13px 80px;
    border: none;
    border-bottom-right-radius:25px ;
    border-top-right-radius:25px ;
    font-size: 18px;
    color: whitesmoke;
    background-color: white;
    font-weight: 700;
}

#event-card1{
    justify-content: center;
    background-image: url('./image/mombati.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card2{
    justify-content: center;
    background-image: url('./image/oring-computer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card3{
    justify-content: center;
    background-image: url('./image/Sweet-girl.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card4{
    justify-content: center;
    background-image: url('./image/tash.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card5{
    justify-content: center;
    background-image: url('./image/lins.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card6{
    justify-content: center;
    background-image: url('./image/smow.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card7{
    justify-content: center;
    background-image: url('./image/boys-girls.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card8{
    justify-content: center;
    background-image: url('./image/boys-girls.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card9{
    justify-content: center;
    background-image: url('./image/boys-girls.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card10{
    justify-content: center;
    background-image: url('./image/graff.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card11{
    justify-content: center;
    background-image: url('./image/graff.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card12{
    justify-content: center;
    background-image: url('./image/lansis.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card13{
    justify-content: center;
    background-image: url('./image/graff.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card14{
    justify-content: center;
    background-image: url('./image/graff.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}
#event-card15{
    justify-content: center;
    background-image: url('./image/graff.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    width: 100%;
    border-radius: 30px;
}

.p-events{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding-top: 250px;
}

#bg-openday{
    height: 550px;  
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./image/Morley-College-Chelsea-Nov-2022-807-16-18-banner-1920x1080.jpg');
}

#box{
    margin-top:-100px;
    background-color: white;
    justify-content: center;
    padding:100px 300px;
    box-shadow: 1px 1px 5px gray;
}

#underline{
    margin-top: 15px;
    width: 190px;
    height: 10px;
    border-radius: 10px;
    background-color: orange;
}
#a-day{
    color: #ee62ad;
}